{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Word Counter</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        {% for features in features %}
        <h1>Enter some text, {{features.name}}</h1>
        <form method="post" action="counter">
            {% csrf_token %}
            <textarea name="text" rows="10" cols="30"></textarea>
            <br>
            <input type="submit" value="Submit">
            <p>{{features.details}}</p>
        </form>
        {% endfor %}
    </body>
</html>